
@{
    ViewData["Title"] = "Privacy Policy";
}



   
        @foreach (var usuario in Model)
        {
           

            <div class="col-4 ">

                 <p><strong> Titulo : </strong> @usuario.nombre
                 <p><strong>Subido por : </strong> @usuario.nombreusuario
                 <p><strong>Comentario : </strong> @usuario.descripcion
                 <img  src="@usuario.foto" class="img-fluid"  /> 




            
            </div>

                
        


        }
  

